{%- set km = ctx.knowledgeModel -%}
{%- macro renderAnswer(answer) %}
    <outline text="[A] {{answer.label|e}}">
{%- for questionUuid in answer.followUpUuids %}
  {{ renderQuestion(km.entities.questions[questionUuid]) }}
{%- endfor %}
    </outline>
{%- endmacro -%}
{%- macro renderQuestion(question) %}
{%- set qtype = "string" %}
{%- if question.questionType == "OptionsQuestion" %}
{%- set qtype = "options" %}
{%- elif question.questionType == "ListQuestion" %}
{%- set qtype = "list" %}
{%- elif question.questionType == "ValueQuestion" %}
  {%- if question.valueType == "TextQuestionValueType" %}
    {%- set qtype = "text" %}
  {%- elif question.valueType == "DateQuestionValueType" %}
    {%- set qtype = "date" %}
  {%- elif question.valueType == "NumberQuestionValueType" %}
    {%- set qtype = "number" %}
  {%- endif %}
{%- elif question.questionType == "IntegrationQuestion" %}
{%- set qtype = "integration" %}
{%- endif %}
    <outline text="[Q][{{qtype}}] {{question.title|e}}">
{%- if question.questionType == "OptionsQuestion" %}
{%- for answerUuid in question.answerUuids %}
  {{ renderAnswer(km.entities.answers[answerUuid]) }}
{%- endfor %}
{%- elif question.questionType == "ListQuestion" %}
{%- for questionUuid in question.itemTemplateQuestionUuids %}
  {{ renderQuestion(km.entities.questions[questionUuid]) }}
{%- endfor %}
{%- endif %}
    </outline>
{%- endmacro -%}
{%- macro renderChapter(chapter) -%}
    <outline text="{{chapter.title|e}}">
{%- for questionUuid in chapter.questionUuids %}
  {{ renderQuestion(km.entities.questions[questionUuid]) }}
{%- endfor %}
    </outline>
{%- endmacro -%}
<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
  <head>
    <title>{{km.name}}</title>
  </head>
  <body>
    <outline text="{{km.name|e}}">
{%- for chapterUuid in km.chapterUuids %}
{{ renderChapter(km.entities.chapters[chapterUuid]) }}
{%- endfor %}
    </outline>
  </body>
</opml>
