{%- set km = ctx.knowledgeModel -%}
{%- set pkg = ctx.package -%}
{%- macro renderExpert(expert, parent, pathPrefix, humanIdentifier) %}
{%- set path = pathPrefix ~ "." ~ expert.uuid %}
{{humanIdentifier}},{{expert.uuid}},expert,{{expert.name}},{{expert.email}},,,{{parent}},{{path}}
{%- endmacro -%}
{%- macro renderReference(reference, parent, pathPrefix, humanIdentifier) %}
{%- set path = pathPrefix ~ "." ~ reference.uuid %}
{%- if reference.referenceType == "URLReference" -%}
  {%- set label = reference.label -%}
  {%- set url = reference.url -%}
  {%- set type = "url" %}
{%- elif reference.referenceType == "ResourcePageReference" -%}
  {%- set label = reference.shortUuid -%}
  {%- set url = ctx.config.clientUrl ~ "/book-references/" ~ reference.shortUuid -%}
  {%- set type = "resource-page" %}
{%- else -%}
  {%- set label = reference.targetUuid -%}
  {%- set url = reference.targetUuid -%}
  {%- set type = "cross-reference" %}
{%- endif -%}
{{humanIdentifier}},{{reference.uuid}},reference,{{label}},{{url}},{{type}},,{{parent}},{{path}}
{%- endmacro -%}
{%- macro renderChoice(choice, parent, pathPrefix, humanIdentifier) %}
{%- set path = pathPrefix ~ "." ~ choice.uuid %}
{{humanIdentifier}},{{choice.uuid}},choice,{{choice.label|e}},,,,{{parent}},{{path}}
{%- endmacro -%}
{%- macro renderAnswer(answer, parent, pathPrefix, humanIdentifier) %}
{%- set path = pathPrefix ~ "." ~ answer.uuid %}
{{humanIdentifier}},{{answer.uuid}},answer,{{answer.label|tojson}},{{answer.advice|tojson}},,{{answer.followUpUuids|length}},{{parent}},{{path}}
{%- for questionUuid in answer.followUpUuids -%}
{{ renderQuestion(km.entities.questions[questionUuid], answer.uuid, path, humanIdentifier ~ "." ~ loop.index) }}
{%- endfor -%}
{%- endmacro -%}
{%- macro renderQuestion(question, parent, pathPrefix, humanIdentifier) %}
{%- set path = pathPrefix ~ "." ~ question.uuid %}
{%- set followups = 0 %}
{%- set qtype = "string" %}
{%- if question.questionType == "OptionsQuestion" %}
{%- set followups = question.answers|length %}
{%- set qtype = "options" %}
{%- elif question.questionType == "ListQuestion" %}
{%- set followups = question.itemTemplateQuestionUuids|length %}
{%- set qtype = "list" %}
{%- elif question.questionType == "ValueQuestion" %}
  {%- if question.valueType == "TextQuestionValueType" %}
    {%- set qtype = "text" %}
  {%- elif question.valueType == "DateQuestionValueType" %}
    {%- set qtype = "date" %}
  {%- elif question.valueType == "NumberQuestionValueType" %}
    {%- set qtype = "number" %}
  {%- endif %}
{%- elif question.questionType == "IntegrationQuestion" %}
{%- set qtype = "integration" %}
{%- endif %}
{{humanIdentifier}},{{question.uuid}},question,{{question.title|tojson}},{{question.text|tojson}},{{qtype}},{{followups}},{{parent}},{{path}}
{%- for expertUuid in question.expertUuids -%}
{{ renderExpert(km.entities.experts[expertUuid], question.uuid, path, humanIdentifier ~ ".E-" ~ loop.index) }}
{%- endfor %}
{%- for referenceUuid in question.referenceUuids -%}
{{ renderReference(km.entities.references[referenceUuid], question.uuid, path, humanIdentifier ~ ".R-" ~ loop.index) }}
{%- endfor %}
{%- if question.questionType == "OptionsQuestion" %}
{%- for answerUuid in question.answerUuids -%}
{{ renderAnswer(km.entities.answers[answerUuid], question.uuid, path, humanIdentifier ~ "." ~ loop.index|of_alphabet) }}
{%- endfor %}
{%- elif question.questionType == "MultiChoiceQuestion" %}
{%- for choiceUuid in question.choiceUuids -%}
{{ renderChoice(km.entities.choices[choiceUuid], question.uuid, path, humanIdentifier ~ "." ~ loop.index|of_alphabet) }}
{%- endfor %}
{%- elif question.questionType == "ListQuestion" %}
{%- for questionUuid in question.itemTemplateQuestionUuids -%}
{{ renderQuestion(km.entities.questions[questionUuid], question.uuid, path ~ ".{item}", humanIdentifier ~ "._." ~ loop.index) }}
{%- endfor -%}
{%- endif -%}
{%- endmacro -%}
{%- macro renderChapter(chapter, humanIdentifier) %}
{{humanIdentifier|roman}},{{chapter.uuid}},chapter,{{chapter.title|tojson}},{{chapter.text|tojson}},,{{chapter.questionUuids|length}},{{pkg.id}},{{chapter.uuid}}
{%- for questionUuid in chapter.questionUuids -%}
{{ renderQuestion(km.entities.questions[questionUuid], chapter.uuid, chapter.uuid, humanIdentifier|roman ~ "." ~ loop.index) }}
{%- endfor -%}
{%- endmacro -%}
humanIdentifier,uuid,type,title,description,subtype,followups,parent,path
{%- for chapterUuid in km.chapterUuids -%}
{{ renderChapter(km.entities.chapters[chapterUuid], loop.index) }}
{%- endfor %}
